|
        <a href="<%= help_privacy_path %>">Privacy and cookies</a>
        |

        Run by a group of volunteers in Sweden, built by <a href="http://www.mysociety.org/">mySociety</a>, powered by <a href="<%= help_alaveteli_path %>">Alaveteli</a> and its <a href="https://github.com/mysociety/alaveteli/graphs/contributors">contributors</a>...
        <a href="<%= help_credits_path(:anchor => 'helpus') %>">and you</a>!
        |
        Dedicated to the <a href="https://en.wikipedia.org/wiki/Freedom_of_Press#Sweden">Freedom of the Press Act</a> and the <a href="https://en.wikipedia.org/wiki/Freedom_of_information_laws_by_country#Sweden">Principle of Public Access</a>.
