|
        <a href="<%= help_privacy_path %>">Integritet och kakor</a>
        |

        Drivs av en grupp volontärer i Sverige, byggt av <a href="http://www.mysociety.org/">mySociety</a> och stärkt av <a href="<%= help_alaveteli_path %>">Alaveteli</a> och dess <a href="https://github.com/mysociety/alaveteli/graphs/contributors">bidragsgivare</a>...
        <a href="<%= help_credits_path(:anchor => 'helpus') %>">och dig</a>!
        |
        Dedikerad till <a href="https://sv.wikipedia.org/wiki/Tryckfrihetsf%C3%B6rordningen">Tryckfrihetsförordningen</a> och <a href="https://sv.wikipedia.org/wiki/Offentlighetsprincipen">Offentlighetsprincipen</a>.
