<h1 class="intro__title"><%= _("Opening up New Jersey government, one request at a time.") %></h1>
<p class="intro__description">
  <%= _("Every citizen has the right to access public records held by state & local government agencies under the New Jersey Open Public Records Act. This site helpes you make a request and share your response.") %>
  <% if AlaveteliConfiguration.authority_must_respond %>
    <%= _("By law, they have to respond, typically within 7 business days.") %>
  <% end %>
</p>
