<%#- anything you put here will appear as a popup warning on every screen in Alaveteli -%>
<p>Handlingar.se är för närvarande i Alpha! Vänligen <a href="<%= help_contact_path %>">kontakta oss</a> för konstruktiv feedback på förbättringar!</p>
