<p><%= _('A <a href="https://rozzi.media/">Rozzi Media Group</a> Website') %>
</p>
<p> "OPRA's clear purpose . . . is 'to maximize public knowledge about public affairs in order to ensure an informed citizenry and to minimize the evils inherent in a secluded process.'" Educ. Law Ctr. v. N.J. Dep't of Educ., 198 N.J. 274, 284 (2009)
  (quoting Mason v. City of Hoboken, 196 N.J. 51, 64 (2008)).
</p>
