
#header #tagline {
 color: red;
}

h1 {
 color: blue ! important;
}

#header h1 a {
    background-image: url("../alavetelitheme/images/navimg/new-alaveteli-logo.png");
    width: 212px;
    height: 87px;
    margin-left: 5px;
}