<%#- anything you put here will appear as a popup warning on every screen in Alaveteli -%>
<p>Handlingar.se is currently in Alpha! Please <a href="<%= help_contact_path %>">contact us</a> for constructive feedback on improvements!</p>
