<section id="introduction">
  <h2>
    Introduction
  </h2>

  <p>
   Handlingar.se does not have terms and conditions in English at the moment. Contact the Handlingar-team for more information.
  </p>

  
</section>
