<section id="introduction">
  <h2>
  1. Inledning
  </h2>

  <p>
Handlingar.se (“Webbplatsen”/"Webbplatsens") är en plattform för att göra förfrågningar om allmänna handlingar offentligt. Handlingar Pro är en tjänst för att underlätta hanteringen av allmänna handlingar, tjänsten drivs av företaget Digital Openers AB som nämns i punkt 2 i dessa Allmänna Villkor. 

  </p>

  <p>
Genom att använda eller skaffa ett Handlingar Pro-konto accepterar du dessa Allmänna Villkor. Vänligen läs igenom villkoren innan du startar eller betalar för tjänsten.
  </p>

 
</section>

<section id="parties">
  <h2>
   2. Parter
  </h2>

  <p>
   Avtalet inklusive dessa Allmänna villkor gäller mellan Digital Openers AB, organisationsnummer 559298-6409, (”Digital Openers”) och det företag eller privatperson som börjar använda Digital Openers tjänster (”Kunden”/”Kundens”/”Kund”).

  </p>
</section>

<section id="contract">
  <h2>
3. Avtalet
  </h2>

  <p>
   Avtalet mellan Kund och Digital Openers utgörs av dessa allmänna villkor.
  </p>

  <p>
Dessa Allmänna villkor är juridiskt bindande och gäller när Kunden börjar använda någon av Digital Openers tjänster. I och med att Kunden godkänner de Allmänna villkoren bekräftar Kunden att ni har läst och förstått innebörden av dessa.

  </p>
 
  <p>
    Digital Openers förbehåller sig rätten att ensidigt ändra dessa Allmänna villkor när som helst och de kommer att förändras över tiden. Det är Kundens skyldighet att löpande se till att Kunden tar del av de gällande Allmänna villkoren som finns tillgängliga på <a href="https://handlingar.se">https://handlingar.se</a>. Uppdaterade Allmänna Villkor träder i kraft direkt när de publiceras på Webbplatsen. På Webbplatsen <a href="https://handlingar.se">https://handlingar.se</a> återfinns även Webbplatsens integritetspolicy som förtydligar hur personuppgifter hanteras inom Digital Openers verksamhet. 
    
  </p>
</section>

<section id="service">
  <h2>
4. Tjänsten
  </h2>

  <p>
Digital Openers tillhandahåller olika typer av Tjänster, dels mjukvara, dels övriga tjänster, utbildning och konsultation (gemensamt "Tjänster"/”Tjänsten”/”Tjänsterna”). Nedan beskrivs typerna av Tjänster.
  </p>

  <p>
    <strong>4.1 Mjukvarutjänst</strong>
  </p>

  
   <p>
 Mjukvarutjänsten med namn Handlingar Pro och beskrivning av den är tillgänglig via Webbplatsen eller, om Digital Openers så anger, via andra webbadresser. Mjukvarutjänsten kan vara kostnadsfri, eller avgiftsbelagd, samt antingen användas tillsammans med eller utan konsultation och utbildning.

  </p>
  
  <p>
    Digital Openers har rätt att, och kommer att lägga till, ändra och ta bort funktionalitet utan att först meddela Kunden. Om en förändring skulle vara till uppenbar och väsentlig nackdel för kunden, kommer kunden att informeras om ändringen i förväg med e-post. För det fall att Kunden inte accepterar de ändrade Allmänna Villkoren har Kunden rätt att säga upp Avtalet med omedelbar verkan. Uppsägning ska ske enligt punkt 9 i dessa Allmänna villkor.

  </p>
  
   <p>
     Kunden är medveten om detta och accepterar att inte göra Kunden beroende av Tjänstens funktionalitet, tillgänglighet eller på något annat sätt som skulle kunna innebära att Kunden riskerar att inte kunna utföra sina åtaganden enligt lagstiftning, myndighetskrav, tredje man eller någon annan part.
  </p>
  
   <p>
  <strong>    4.2 Användning av Tjänsten </strong>
  </p>
  
   <p>
     I och med att Kunden har godkänt dessa Allmänna Villkor är Kunden medveten om att Tjänsten kan komma att förändras och inte längre uppfylla de krav eller önskemål som Kunden har och som tidigare kanske uppfylldes. Kunden har ingen rätt till ersättning om Tjänsten ändras, eller i Kundens tycke försämras eller av annan anledning inte uppfyller Kundens krav.

  </p>
  
    <p>
  <strong>     4.3 Övriga tjänster</strong>

  </p>
  
    <p>
      Digital Openers erbjuder också konsultation och utbildningstjänster såsom beskrivning av den är tillgänglig via Webbplatsen eller, om Digital Openers så anger, via andra webbadresser.

  </p>
  
    <p>
  <strong>     4.4 Funktioner som innefattas i tjänsten</strong>
  </p>
  
    <p>
      Definitionen av de funktioner som innefattas i tjänsten finns beskrivet under “Pro”-sektionen på Webbplatsen. Denna definition kan över tid förändras.

  </p>
  
    <p>
      Digital Openers har tolkningsföreträde när det gäller en funktions innebörd. Kunden får inte tolka vad en funktion ska uppfylla och sedan ställa krav utifrån egen tolkning av funktionens innebörd.

  </p>
  
  

<section id="responsibility">
  <h2>
5. Kundens ansvar
  </h2>

  <p>
    Utöver vad som framgår i övrigt enligt dessa Allmänna villkor ansvarar Kunden för följande:

  </p>
  
  <p>
 <strong>    5.1 Säkerhetskopiering av data </strong>

  </p>
  
  <p>
    Kunden ska ansvara för säkerhetskopiering av sin data om inte annat överenskommits.

    
  </p>
  
  <p>
    Digital Openers jobbar för att förhindra förlust av data på Webbplatsen, och gör regelbunden säkerhetskopiering, men kan inte garantera att data inte försvinner.

    
  </p>
  
  
  <p>
<strong>     5.2 Teknisk standard</strong>

    
  </p>
  
  <p>
    Digital Openers ansvarar inte för eventuella brister och begränsningar i Kundens operativsystem och datormiljö.

    
  </p>
  
  <p>
 <strong>   5.3 Säkerhet av konto</strong>

    
  </p>
  
  <p>
    Kunden är ansvarig för aktivitetet gällande Kundens konto, inklusive att obehöriga inte får tillgång till Kundens konto. Kunden ska se till att lösenord är säkra från obehöriga företrädesvis med säker lösenordshanterare och Digital Openers ansvarar inte för Kundens brist på att hålla lösenordet säkert.

  </p>
  
  <p>
    Kunden ska meddela Digital Openers om Kunden har märkt att en obehörig person använder samma konto.

    
  </p>
 
</section>

<section id="liability">
  <h2>
6. Digital Openers ansvar och ansvarsbegränsning

  </h2>

  <p>
Digital Openers ersätter endast direkta skador som åsamkas Kunden genom grov vårdslöshet från Digital Openers sida. Ersättning utgår alltså inte för indirekt skada, såsom t.ex. förlorad vinst, minskad produktion eller hinder att uppfylla förpliktelse mot tredje man.
  </p>

  <p>
Digital Openers ersättningsansvar är begränsat till under avtalsperioden sammanlagda avgifter för berörd Tjänst, dock maximalt totalt ett prisbasbelopp.
  </p>

  <p>
Digital Openers tar inte ansvar för Kundens förlust av data oavsett hur denna förlust uppstått.
  </p>
  
  <p>
   Digital Openers ansvarar inte för skada som uppkommer på Kundens hårdvara, Kundens data eller annan information som förmedlas vid användning av Tjänsten. Digital Openers ansvarar inte för fel i tredjepartsprodukter. Inte heller ansvarar Digital Openers för skada orsakad av datavirus (eller motsvarande), försening, förlust eller förvanskning av Kundens data eller för Kundens eventuella ersättningsskyldighet gentemot tredje man. 
    
  </p>
</section>

<section id="forcemajeure">
  <h2>
7. Force majeure 
  </h2>

  <p>
   Digital Openers är befriad från skyldighet att ersätta skada eller att fullgöra viss förpliktelse enligt Avtalet, om skadan eller underlåtenheten har sin grund i omständighet utanför Digital Openers kontroll och omständigheten förhindrar, avsevärt försvårar eller försenar fullgörande av sådan förpliktelse. Detsamma gäller om underlåtenheten har sin grund i försenade leveranser eller störningar från Digital Openers underleverantör som orsakats av hindrande omständigheter. Omständighet kan anses bl.a. myndighets åtgärd eller underlåtenhet, nytillkommen eller ändrad lagstiftning, myndighetsbestämmelse, myndighetsingripande, fel, brist eller dröjsmål i energiförsörjningen, arbetskonflikt, blockad, krig, upplopp, sabotage, extrema väderförhållanden, blixtnedslag, brand, explosion, översvämning, naturkatastrof, olyckshändelse eller andra omständigheter som Digital Openers inte rimligen kunnat råda över eller förutse. Så snart hindret för fullgörande upphör ska åtagandet fullgöras på avtalat sätt.

  </p>

 
</section>

<section id="price">
  <h2>
   8. Priser, debitering och betalningsvillkor

  </h2>
  <p>
 <strong>       8.1 Priser och kostnader</strong>

  </p>
  
   <p>
     Tjänstens priser framgår av vid var tid gällande prislista som finns tillgänglig på Webbplatsen.

  </p>
  
   <p>
<strong>      8.2 Betalningsvillkor</strong>
  </p>
  
   <p>
     Betalning ska ske senast 20 dagar efter fakturadatum.
  </p>
  
   <p>
  I de fall betalning är försenad har Digital Openers rätt att ta ut dröjsmålsränta enligt räntelagen (1975:635).
  </p>
  
   <p>
     Om Kunden vill bestrida en faktura ska detta göras via e-post eller post, inom trettio (30) dagar från fakturadatum.
  </p>
  
   <p>
 <strong>     8.3 Debiteringsperiod</strong>
  </p>
  
   <p>
     Debitering börjar när Tjänsten kan anses vara aktiverad eller då Kunden beställt Tjänsten. En debiteringsmånad följer inte hela kalendermånader utan inleds när en Tjänst aktiveras.
  </p>
  
   <p>
     Webbplatsen använder Stripe för betalningar. Kunden kan läsa om Stripes användningsvillkor och sekretesspolicy här: <a
    href="https://stripe.com/gb/privacy">https://stripe.com/gb/privacy</a>.
  </p>
  
   <p>
<strong>      8.4 Ändring av priser </strong>
  </p>
  
   <p>
     Digital Openers har rätt att från månad till månad ändra priser för sina Tjänster. Ändrade priser ska meddelas på Webbplatsen eller genom epost till Kund.
  </p>
  
   <p>
     Ändring av priserna börjar gälla en månad efter att Digital Openers meddelat Kunden eller vid den senare tidpunkt som Digital Openers anger.
  </p>
  
   <p>
<strong>     8.5 Uppsägning pga av ändring av prismodell eller priser</strong>
  </p>
  
   <p>
     Kunden har alltid rätt att vid ändring av prismodell eller prishöjning säga upp Avtalet med omedelbar verkan.
  </p>


</section>

<section id="termination">
  <h2>
 9. Uppsägning
  </h2>

  <p>
<strong> 9.1 Kundens uppsägning </strong>

  </p>

  <p>
Kunden har rätt att närsomhelst säga upp Avtalet eller del av Tjänsten/Tjänsterna. Kunden har inte rätt till någon återbetalning vid uppsägning. När Kunden har sagt upp Tjänsten händer följande:
  </p>

  <p>
  <ul>
    <li>
     Kunden förlorar åtkomst till alla förfrågningar Kunden fortfarande har i utkast i Tjänsten.
    </li>

    <li>
      Kunden kommer inte att kunna komma åt Handlingar Pro-verktyg, inklusive panelen och hantering av pro-förfrågningar.
    </li>

    <li>
      Kunden kommer fortfarande att kunna se alla förfrågningar som för närvarande är privata, men Kunden kommer inte att kunna göra nya privata förfrågningar eller förlänga sekretessperioden. Dessa förfrågningar kommer att publiceras när den aktuella sekretessperioden upphör.
    </li>

    <li>
     Kunden kan när som helst köpa Tjänsten igen och full tillgång till dessa funktioner återställs.
    </li>
  </ul>
  </p>
  
  <p>
 <strong>    9.2 Skriftlig uppsägning </strong>

  </p>
  
    <p>
      Digital Openers säger upp Tjänsten/Tjänsterna eller Avtalet skriftligen till den e-post som kunden som privatperson angivit eller till den adress som Kundens företag har registrerad hos Bolagsverket.
  </p>
  
    <p>
      Kund säger upp Tjänsten/Tjänsterna eller Avtalet genom att maila pro(at)handlingar.nu, ange vilket organisationsnummer eller/samt e-post/mobilnummer som är kopplat till Tjänst/Tjänsterna eller Avtalet.
  </p>
  
    <p>
      För att en uppsägning ska anses vara genomförd så behöver Digital Openers bekräfta identiteten bakom uppsägningen. Digital Openers kommer kontakta Kunden via den e-post eller mobilnummer som Kunden angivit i den tjänst/tjänster som är aktuell för uppsägning, för att bekräfta att Kunden verkligen vill säga upp Tjänst/Tjänsterna eller Avtalet.
  </p>
  
    <p>
<strong>       9.3 Förtida uppsägning </strong>
  </p>
  
    <p>
      Digital Openers äger rätt att skriftligen säga upp Avtalet till omedelbart upphörande tillhörande Kunden om:

  </p>
  
    <p>
       <ul>
    <li>
   Kunden har misslyckats att betala fakturan i tid;
    </li>

    <li>
    Digital Openers anser att Kunden bryter väsentligt mot villkoren i detta avtal;
    </li>

    <li>
     Digital Openers anser att det är nödvändigt att göra det för att följa tillämplig lag eller beslut från en domstol eller annan behörig myndighet;
    </li>

    <li>
     Kunden bryter mot Webbplatsens uppförandekod.
    </li>
  </ul>
  </p>

  
  
  
</section>


<section id="law">
  <h2>
 10. Tillämplig lag och tvistelösning
  </h2>

  <p>
 Avtalet (inklusive dessa Allmänna villkor) ska regleras av, tolkas och fullgöras i enlighet med svensk lag. Eventuella tvister ska lösas i svensk domstol med Stockholms tingsrätt som första instans.
  </p>
</section>

