.nav-main {
  padding: 30px 0 0 0;

  a {
    @extend .font-roboto;

    margin-right: 3.6458333%; /* 35 / 960 */
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
  }

  a:hover {
    text-decoration: underline;
  }

  .selected {
    color: #2c5e3d;
    cursor: default;
  }

  .selected:hover {
    text-decoration: none;
  }
}

.nav-footer {
  padding: 0 0 25px 0;

  a {
    margin-right: 1.7708333%;
    padding: 0 0 0 1.7708333%;
    color: #3e3e3e;
    text-transform: none;
    border-left: solid 1px #b2b1b1;
  }

  a:first-child {
    padding-left: 0;
    border-left: 0;
  }
}

.nav-footer-sub {

  a { font-size: 14px; }
}
