According to the law you do not always have the right to receive a public document through a digital channel, a digital format or for free.

This depends on the character of the requested document. A reason for non-digital rendition is e.g. that it is extremely important that the personal integrity for private individuals is upheld.

This is important because there can be sensitive data in a public document.

This is however a challenge for the auhtority as anyone, in practice, can digitize a physical public document.

Read more on <a href="https://oppnadata.se/juridik-och-rekommendationer/regelverket/bestammelser-om-avgifter/">ÖppnaData.se</a>.

But there are also many advantages and you always have the right to electronic and anonymous correspondence, read (<a href="<%= help_page_url(:anchor => 'full_address') %>">more details</a>).

At the bottom of this page, write a reply to the authority explaining this to them.
