Enligt lagen har du inte rätt att alltid få ut en allmän handling genom digital kanal, i digitalt format eller gratis. Det beror på karaktären av den begärda handlingen. En anledning för icke-digitalt utlämnande av allmän handling är t.ex. att det är extremt viktigt att den personliga integriteten för privatpersoner upprätthålls då det kan förekomma känslig data i en allmän handling. Det här är dock en utmaning för myndigheten då vem som helst i praktiken kan digitalisera en fysisk allmän handling.

Läs mer på <a href="https://oppnadata.se/juridik-och-rekommendationer/regelverket/bestammelser-om-avgifter/">OppnaData.se</a>.

Men det finns annars många fördelar och du har alltid rätt till elektronisk och anonym korrespondens, läs (<a href="<%= help_page_url %>#full_address">mer information här</a>).

Längst ner på denna sida kan du skriva ett svar till myndigheten och förklara detta för dem.
