<% @title = "About" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
 <h1 id="introduction">Introduction to <%= site_name %> <a href="#introduction">#</a> </h1> 
 <p>
  AskYourGov.ug has been built to help members of the public get the information they want about from Uganda public authorities – by asking for it.
  It will also make life easier for Ugandan public officials because they will be less likely to have to answer repeated requests about the same subject: 
  once a question has been answered everyone will be able to find the information stored on this website.
 </p>
</div>


