<% @title = "Om" %>
<%#-*- coding: utf8 -*-%>
<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
  <h1 id="introduction">Introduktion till Handlingar.se <a href="#introduction">#</a> </h1>
  <dl>

  <dt id="purpose">Syftet för Handlingar.se <a href="#purpose">#</a> </dt>

  <dd>
  <p>
Välkommen! Handlingar.se hjälper dig skapa värde med information från alla organisationer inom offentlig sektor. 
Vi hjälper dig även ställa frågor om det du vill veta och därmed göra så kallad begäran om allmän handling. Kom igång enkelt:
  </p>
  </dd>

  <dt id="premise">Handlingar i 5 steg <a href="#premise">#</a> </dt>
    
<dd>
  <p>
    1. Du läser igenom vår <a href="https://handlingar.se/sv/help/privacy">integritetspolicy och hur vi hanterar GDPR här.</a> 
    Om du accepterar policyn så kan du skapa ett konto på plattformen - för att göra förfrågningar och hålla dig uppdaterad. 
  </p>
    </dd>
    
    
    
        <dd>
  <p>
    
    2. Identifiera vilken myndighet eller offentlig verksamhet du vill ställa en fråga till. Lär dig mer på <a href="https://handlingar.se/sv/help/requesting#making_requests">“Att göra en begäran”</a> 
    
  </p>
    </dd>
    
    3. Formulera en begäran, plattformen kommer till viss del ha fyllt i text åt dig - dubbelkolla att din begäran är som du tänkte dig och skicka iväg!
    
        <dd>
  <p>
    
    4. Du väntar på svar, och kommer få uppdateringar till din mail om begäran har fått svar eller är försenad.
  </p>
    </dd>
    
        <dd>
  <p>
    
    5. Du klassificerar svaret du fick. Nu kan du och många andra använda den informationen, bra jobbat!

    
  </p>
    </dd>


  <dt id="updates">Vi driver Handlingar.se <a href="#updates"> # </a> </dt>

    
  <dd>Handlingar.se drivs och underhålls som ett projekt av den ideella föreningen <a href="https://se.okfn.org/">Open Knowledge Sverige.</a>
 Vi har 
<a href="https://about.handlingar.se/">hemsida</a>
, 
<a href="https://handlingar.se/blog">blogg</a>
, 
<a href="https://www.linkedin.com/company/handlingar-se">LinkedIn</a>
, 
<a href="https://www.facebook.com/handlingar">Facebook</a>
 och 
<a href="https://twitter.com/handlingar">Twitter</a>
 och 
<a href="https://mastodon.se/@handlingar">Mastodon</a>
.
  </dd>


  </dl>

  <p><strong>Härnäst,</strong> kan du läsa om <a href="<%= help_requesting_path %>">att göra begäran om allmän handling</a>

  <div id="hash_link_padding"></div>
</div>
