<% @title = "Om" %>
<%#-*- coding: utf8 -*-%>
<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
  <h1 id="introduction">Introduktion till Handlingar.se <a href="#introduction">#</a> </h1>
  <dl>

  <dt id="purpose">Syftet för Handlingar.se <a href="#purpose">#</a> </dt>

  <dd>
  <p>
Välkommen! Handlingar.se hjälper dig skapa värde med information från alla organisationer inom offentlig sektor. Vi hjälper dig även ställa frågor om det du vill veta från organisationer som kommuner, regioner, myndigheter samt andra skattefinansierade och offentligt ägda verksamheter. 
Allmänna handlingar behöver bli allmän nytta och samhällsvärde. Billigare för myndigheten och i slutändan dig som skattebetalare. För din rätt att veta! Kom igång enkelt:

  </p>
  </dd>

  <dt id="premise">Handlingar i 5 steg <a href="#premise">#</a> </dt>
    
<dd>
  <p>
    1. Läs igenom våra användarvillkor <a href="https://handlingar.se/sv/help/terms">här</a>. Läs även igenom vår integritetspolicy och hur vi hanterar GDPR <a href="https://handlingar.se/sv/help/privacy">här</a>.
   Om du accepterar policyn och användarvillkoren så kan du skapa ett konto på plattformen. Detta krävs för att göra förfrågningar och följa andras förfrågningar. Du kan bli uppdaterad utan konto via anpassade RSS-flöden.
  </p>
    </dd>
    
    
    
        <dd>
  <p>
    
    2. Identifiera vilken myndighet eller offentlig verksamhet du vill ställa en fråga till. Lär dig mer på <a href="https://handlingar.se/sv/help/requesting#making_requests">“Att göra en begäran”</a> Använd en tydlig titel på din begäran. Det kan vara namnet på handlingen du vill ha ut och datum, t.ex. “Verksamhetsplan 2021”, så att andra kan hitta informationen enkelt när de söker på Internet och Handlingar.se.

    
  </p>
    </dd>
    
    <dd>
      <p>
    
    3. Formulera en begäran, plattformen kommer till viss del ha fyllt i text åt dig - dubbelkolla att din begäran är som du tänkte dig och skicka iväg! Vill du begära information om dig själv? Använd <a href="https://www.mydatadoneright.eu/">'MyDataDoneRight'</a> och läs mer om verktyget <a href="https://handlingar.se/sv/help/requesting#data_protection">'här'</a>
      </p>
    </dd>
    
    
        <dd>
  <p>
    
    4. Du väntar på svar, och kommer få uppdateringar till din e-post om begäran har fått svar eller är försenad. Frågar verksamheten om förtydliganden kring din fråga? Använd funktionen “Uppföljningar” längst ner på sidan med din begäran och förtydliga i ditt svar.
  </p>
    </dd>
    
        <dd>
  <p>
    
    5. Du får nu svar. Du klassificerar svaret du fick. Nu kan du och många andra använda den informationen. Bra jobbat! Använder du Pro kan du hålla frågan och svaret för dig själv under en sekretessperiod som kan vara upp till hela 12 månader!


    
  </p>
    </dd>

  <dt id="pro">Handlingar Pro <a href="#pro"> #</a> </dt>
    
    
  <dd>
    <p>
      
Behöver du fler kraftfulla funktioner? Med Handlingar Pro kan du obegränsat ställa frågor till myndigheter och tjänsten organiserar svaren åt dig. Du kan sätta en sekretessperiod på dina förfrågningar, för att hinna jobba på ditt projekt och du kan även ställa samma fråga upp till 500 myndigheter samtidigt. Vill du veta mer? Se alla funktioner <a href="https://handlingar.se/sv/pro">här!</a> All kommersiell funktionalitet och separata tjänster drivs i samarbete med <a href="https://openers.se/">Digital Openers AB</a> som är ett socialt företag vars uppdrag är digital öppenhet för samhällsnytta.

      
 
      
    </p>
    </dd>
    
      <dt id="utgivare">Ansvariga utgivare <a href="#utgivare"> # </a> </dt>
    
    <dd>
      <p>
      Ansvarig utgivare: Elenor Weijmar
      </p>
      <p>
      Stf ansvarig utgivare: Mattias Axell
      </p>
      
    </dd>

    
  <dt id="updates">Vi driver Handlingar.se <a href="#updates"> # </a> </dt>

    
  <dd>Handlingar.se drivs och underhålls som ett projekt av den ideella föreningen <a href="https://okfn.se/">Open Knowledge Sverige.</a> Du kan donera till projekt föreningen driver, inklusive Handlingar.se <a href="https://okfn.se/donera">här</a>!
 Vi har <a href="https://about.handlingar.se/">hemsida</a>, <a href="https://handlingar.se/blog">blogg</a>, <a href="https://www.linkedin.com/company/handlingar-se">LinkedIn</a>, 
<a href="https://www.facebook.com/handlingar">Facebook</a> och <a href="https://twitter.com/handlingar">Twitter</a> och <a href="https://mastodon.se/@handlingar">Mastodon</a>.
  </dd>

    
      <dt id="why">Syftet för Handlingar.se <a href="#why">#</a> </dt>

  <dd>
  <p>
Vi hjälper dig därmed att göra så kallad begäran om allmän handling. Detta enligt den rätt du har via grundlagen tryckfrihetsförordningen och offentlighetsprincipen från 1766.


  </p>
    
    <p>
      Vi sänker kostnaden per hantering av allmän handling - och ökar kvalitet och värde. Myndigheter och medborgare dras med stora behov av bättre och mer kostnadseffektiv hantering av allmänna handlingar. Den pappersbaserade offentlighetsprincipen och rätten till insyn kostar myndigheter och oss alla som skattebetalare ofantligt mycket tid och pengar - helt i onödan. 

      
    </p>
    
    <p>
      
      Vi möjliggör en effektiviserad hantering av frågor och svar kring allmänna handlingar genom en öppen central plattform med möjlighet till  <a href="https://handlingar.se/sv/help/api">integrationer.</a> Det har aldrig varit så här enkelt att lämna ut allmänna handlingar i offentlig sektor - för samhällsnytta. Handlingar.se sparar tid och pengar för myndigheten, användaren och bygger kollektiv intelligens i samhället. Vi gör Sverige smartare! 

    </p>
    
    <p>
      När fler och fler frågor och mer och mer information offentliggörs på plattformen minskar trycket på myndigheterna. Då ökar nyttan och värdet för både myndigheten och skattebetalaren.
    </p>
    
    
  </dd>

  </dl>

  <p><strong>Härnäst</strong> kan du läsa om <a href="<%= help_requesting_path %>">att göra begäran om allmän handling</a>.

  <div id="hash_link_padding"></div>
</div>
