<% @title = "About" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
 <h1 id="introduction">Въведение в <%= site_name %> <a href="#introduction">#</a> </h1>
 <p>Страницата е празна</p>
</div>


