<% @title = _("Making requests") %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">
  <% if params[:country_name] %>
   <h1><%= _("Искате ли да има подобна услуга във вашата страна?") %></h1>
  <% else %>
   <h1>Задвижвано от Alaveteli</h1>
  <% end %>
  <p>Този уеб сайт се задвижва от Alaveteli. Alaveteli е свободен
софтуер за създаване на заявления за Достъп до информация. Той може
лесно да бъде преведен на който и да е език, и настроен към различни
законодателства за ДдИ.</p>
<p>Разработката на Alaveteli е спонсорирана и поддържана
от фондации и благотворителни организации, интересуващи се от
прозрачност навсякъде по света.</p>
<p>Ако желаете да създадете Alaveteli уеб сайт за Вашата държава,
ние можем да помогнем. Ще са Ви нужни няколко дни, за да се
сдобиете с конфигуриран и готов за употреба сайт, а след това ще трябва
да отделяте около час на седмица, за да управлявате и поддържате сайта
(може и повече за по-натоварени сайтове).</p>
<p>Повече може да прочетете на <a href="http://alaveteli.org/">уеб сайта на Alaveteli</a>, както и да ни <a href="mailto:hello@alaveteli.org">пишете</a>.</p>

  <div id="hash_link_padding"></div>
</div>
