<% @title = "Making requests" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
  <% if params[:country_name] %>
    <h1><%= _("Would you like to see a website like this in your country?") %></h1>
  <% else %>
    <h1>Drivs med Alaveteli</h1>
  <% end %>
  <p>Ett meddelande från våra icke-vinstdrivande vänner vid MySociety.
</p>

  <p>Den här hemsidan drivs med hjälp av Alaveteli som är fri och öppen mjukvara för att begära ut handlingar från offentlig sektor enligt offentlighetsprincipen. Den kan enkelt översättas till vilket språk som helst, och anpassas till variationer av lagstiftning som den svenska offentlighetsprincipen.</p>

  <p>Utvecklingen av Alaveteli sponsras och stöds av ett antal stiftelser och välgörenhetsorganisationer som är intresserade av ökad insyn runtom i världen.</p>

  <p>Läs mer på <a href="https://alaveteli.org">Alaveteli-hemsidan</a>,
    eller <a href="mailto:hello@alaveteli.org">skicka de ett  
      e-postmeddelande</a>.</p>

  <div id="hash_link_padding"></div>
</div>
