<% @title = "Erkännanden" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">

<h1 id="credits"><%= @title%> <a href="#credits">#</a> </h1>

<dl>

<dt id="thanks">Historien bakom Handlingar.se <a href="#thanks">#</a> </dt>
<dd><p> Handlingar.se grundades 2019 utifrån tanken att skattefinansierade allmänna handlingar och  öppna data i offentlig sektor ska tillgängliggöras på begäran av finansiären, det vill säga skattebetalaren, och att de endast är värdefulla om de kan användas. Lärande och utveckling kan inte ske utan möjligheten till nya insikter och förståelse. Vår idé är att hjälpa myndigheter till att digitalt tillgängliggöra information som kan hjälpa myndigheter, företag, civilsamhälle och människor att dra nytta av dem för att utveckla sig, sina verksamheter och samhället. Med dagens enorma mängder information i offentlig sektor har många människor inte ens kommit igång att nyttja dessa tillgångar som kan hjälper dem skapa och förnya sina åtaganden och verksamheter. Vi vill möjliggöra upplysta handlingar, förnyelse och utveckling hos varje människa och organisation. När fler får tillgång till information kan det göra samhället härligare att leva i och framtiden något att se fram emot.
</p>
<ul>
<li>
      <a href="https://digidemlab.org/">Digidem Lab</a>
      (<a href="https://digidemlab.org/projects/handlingarse/">Digidem Labs projektfinansiering</a>)
      har stöttat unga med demokratiprojekt i Sverige sen 2016. De beviljade detta projekt ett litet ekonomiskt stöd för initialt genomförande.
</li>
<li>
    Vi kunde inte göra något av detta utan svenska historiska pionjärer Peter Forsskål, Anders Chydenius, Tryckfrihetsförordningen och Offentlighetsprincipen, som lade grunden för ansvarighet i demokratier och öppen innovation som kommer genom användning av öppet tillgänglig information och data.

</li>

</dd>

<dt id="helpus">Stötta projektet<a href="#helpus">#</a> </dt>
<dd>
    
    <ul>
    <li>
      Du kan göra en donation. 
    </li>
    <li>
      Hjälp till att
      <a href="/categorise/play">klassificera förfrågningar här</a>.
    </li>
    <li>
      Ta reda på e-postadresser till registratorer på <a href="/help/requesting#missing_body">myndigheter som vi saknar</a>.
    </li>
    <li>
       Skriv ett blogginlägg om antingen Handlingar.se eller en intressant begäran som du har hittat. Skriv om det på ett forum. Berätta för vänner om det.
</li> 
<li> Om du är en programmerare, kontakta oss gärna om du är intresserad av att bidra till projektet. Plattformen är gjord i Ruby on Rails.
    </li>
    </ul>
</dd>


<div id="hash_link_padding"></div>


</div>
