<% @title = _("Credit where credit is due") %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">

<h1 id="credits"><%= @title%> <a href="#credits">#</a> </h1>

<dl>

<dt id="thanks">Кои са хората, създали <%= site_name %>? <a href="#thanks">#</a> </dt>
<dd>Oh, nearly everyone (<a href="http://www.mysociety.org/helpus">може би и Вие</a>)!
<ul>
<li>
    <a href="http://www.yrtk.org">Heather Brooke</a>
    (<a href="http://www.guardian.co.uk/politics/2008/mar/29/houseofcommons.michaelmartin?gusrc=rss&amp;feed=worldnews">vampy!</a>) публикува идеята в UK FOI преди години.
</li>
<li>
    Phil Rodgers и <a href="http://www.flourish.org/blog/">Francis Irving</a>
я предлагат в състезанието на mySociety за идеи за създаване
на сайтове от публичен интерес.
</li>
<li>
    <a href="http://www.mysociety.org/2006/09/27/the-mysociety-call-for-proposals-the-winner-and-runners-up/">Идеята
печели</a>, след което Chris Lightfoot (<a href="http://mk.ucant.org/archives/000129.html">за съжаление
починал</a>), измисля хитрия механизъм за приемането на отговори
на заявления по
имейл и автоматичното им публикуване.
</li>
<li>
    Tom Steinberg осигурява сумата за заплащане на сайта
от <a href="http://www.jrrt.org.uk/">a dead chocolate
mogul</a> (<em>Благодарности!</em>) ...
</li>
<li>
    ... и така Francis Irving, Angie Ahl, Tommy Martin,
Louise Crow, Matthew Somerville и Tom Steinberg успяват да свършат
сложната работа по оформянето и програмирането, и да създадат това,
което Вие виждате днес.
</li>
<li>
    Специални благодарности на Julian Todd (<a href="http://www.freesteel.co.uk/wpblog/">great blog!</a>),
Francis Davey и Etienne Pollard за ползването на сайта в
началото и техните отзиви (и/или правни съвети!), а също и на всички
наши потребители и тестери.
</li>
<li>
    На страхотния ни екип от доброволци, които поддържат
сайта, отговарят на Вашите имейли, поддържат базата данни с публични
органи и <a href="http://www.mysociety.org/2009/10/13/behind-whatdotheyknow/">още
много други</a>. Благодарности на John Cross, Ben Harris, Adam
McGreggor, Alex Skene, Richard Taylor.
</li>
<li>
    Доброволци, изработили поправки и подобрения в кода
- Peter Collingbourne и Tony Bowden, благодарим Ви.
</li>
<li>
    Всички, които помогнаха за откриването на имейл
адресите за ДдИ.
</li>
<li>
    Ние нямаше да можем да направим нищо от това без тези <a href="http://www.ukcod.org.uk/UKCOD_Trustees">луди хора</a>,
които доброволно, измежду много други ангажименти, се грижат за нашето
счетоводство и данъчни декларации.
</li>
<li>
    И накрая, всички ръководители и служители, които
отговарят на многото заявления, отправени чрез сайта. На тяхното
усърдие, търпение и професионализъм дължим информацията, която виждате
тук. Благодарности към тях за това, че правят работата на
Правителството по-прозрачна.
</li>
</ul>
Всички Вие сте нашите герои.
</dd>

<dt id="helpus">Мога ли да помогна? <a href="#helpus">#</a> </dt>
<dd>
    <p>Да, моля! Ние сме създадени от нашите привърженици и
доброволци.</p>
    <ul>
    <li>Вие можете <a href="https://secure.mysociety.org/donate/">да направите
дарение</a>. Ние сме регистрирани като фондация.</li>
    <li>Да помагате на потребители да правят успешни
заявления, да следите за представянето на органите <a href="/categorise/play">с играта за категоризиране</a>.</li>
    <li>Да намирате имейл адреси за ДдИ и органи, <a href="/help/requesting#missing_body">които липсват в нашия
списък</a>.</li>
    <li>Да пишете публикации за Alaveteli България или за
интересни заявления, които сте открили. Да пишете за тях в посещаван от
Вас форум. Да кажете на приятели за това.</li>
<li>Ако сте програмист, разгледайте кода на проекта <a href="http://alaveteli.org">Alaveteli</a>
и ни кажете за подобрения, които можете да направите. Направен е с Ruby
on Rails. </li>
    <li>Прочетете повече за <a href="http://www.mysociety.org/helpus/">подпомагането на mySociety</a>.</li>
    </ul>
</dd>


<div id="hash_link_padding"></div>


</div>
