<% @title = "Credit where credit is due" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">

<h1 id="credits"><%= @title%> <a href="#credits">#</a> </h1>

<dl>

<dt id="thanks">Vilka människor gjorde Handlingar.se? <a href="#thanks">#</a> </dt>
<dd><p>Åh, några volontärer som vill skapa förändring.</p>
<ul>
<li>
      <a href="https://digidemlab.org/">Digidem Lab</a>
      (<a href="https://digidemlab.org/projects/handlingarse/">Digidem Labs projektfinansiering</a>)
      har stöttat unga med demokratiprojekt i Sverige sen 2016. De beviljade detta projekt ett litet ekonomiskt stöd för initialt genomförande.
</li>
<li>
    Den fantastiska grupp frivilliga som driver webbplatsen, svarar ert stöd
    e-post, underhålla databasen av myndigheter och så mycket mer.
</li>
<li>
    Volontärer som tillhandahåller patchar till koden!
</li>
<li>
    Alla som har hjälpt leta upp e-postadresser för registratorer i offentlig sektor och annan relevant information till offentliga institutioner i Sverige.
</li>
<li>
    Vi kunde inte göra något av detta utan svenska historiska pionjärer
    <a href="http://peterforsskal.com/">Peter Forsskål</a>, <a href="http://www.chydenius.net/sve/index.asp">Anders Chydenius</a>,
    <a href="https://sv.wikipedia.org/wiki/Tryckfrihetsf%C3%B6rordningen">Tryckfrihetsförordningen</a> och <a href="https://sv.wikipedia.org/wiki/Offentlighetsprincipen">Offentlighetsprincipen</a>,
    som lade grunden för ansvarighet i demokratier och öppen innovation som kommer genom användning av öppet tillgänglig information och data.
</li>
<li>
    Slutligen, alla civila tjänstemän som besvarar förfrågningar
    som görs genom webbplatsen. Deras flit, tålamod och professionalism är
    vad som faktiskt gör den information som du ser här tillgänglig. Tacka dem för
    att de hjälper göra den offentliga sektorns förvaltning och styre mer öppet i Sverige.
</li>
<li>
    Fler människor kommer att nämnas här inom lämplig tid.
</li>
</ul>
Ni är alla stjärnor.
</dd>

<dt id="helpus">Kan jag hjälpa till? <a href="#helpus">#</a> </dt>
<dd>
    <p> Ja tack! Vi är byggda av våra supportrar och volontärer. </p>
    <ul>
    <li>
      Du kan snart göra en donation</a>. Vi är snart en registrerad och icke-vinstdrivande ideell förening.
    </li>
    <li>
      Hjälpa människor att hitta framgångsrika förfrågningar och bevaka myndigheternas prestanda genom att
      <a href="/categorise/play">spela kategoriserings-spelet</a>.
    </li>
    <li>
      Ta reda på e-postadresser till registratorer på <a href="/help/requesting#missing_body">myndigheter som vi saknar</a>.
    </li>
    <li>
      Skriv ett blogginlägg om antingen Handlingar.se eller en intressant begäran som du har
      hittat. Skriv om det på ett forum som du ofta besöker. Berätta för vänner om det.</li> <li>Om du är
      en programmerare, använd källkoden för vårt moderprojekt, <a href="https://alaveteli.org">Alaveteli</a>
      och berätta om patchar vi kan be om. Den är gjord i Ruby on Rails.
    </li>
    </ul>
</dd>


<div id="hash_link_padding"></div>


</div>
