<% @title = "For nonprofits" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1><%=@title %></h1>
  <dl>
    <dt>For nonprofits</dt>
    <dd>
      <p>This page explains how programmers can make other websites and software
        interact with  <%= site_name %> via an "API".
      </p>
