<% @title = "Din integritet och GDPR" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="privacy"><%= @title %> <a href="#privacy">#</a></h1>
  <dl>
    
  <p>
Handlingar.se är ansvarig för att hantera dina personuppgifter på ett korrekt sätt och i enlighet med lagar och förordningar. Det innebär att Handlingar.se är personuppgiftsansvarig.
  </p>
  <p>
    Om du har frågor <a
    href="https://www.handlingar.se/sv/help/contact">kontakta oss</a>.
  </p>

  <h2 id="personal_information">
    Vilka personuppgifter behandlar vi om dig? 
    <a href="#personal_information">#</a>
  </h2>

  <h3 id="personal_information_foi">
    Vad är en personuppgift?
    <a href="#personal_information_foi">#</a>
  </h3>
    
  <p>
Enligt GDPR är en personuppgift all slags information som direkt eller indirekt kan anknytas till en levande, fysisk person. Typiska personuppgifter är personnummer, namn och adress, men till exempel krypterade uppgifter och olika slags elektroniska identiteter är också personuppgifter om de kan kopplas till en fysisk person.
Även uppgifter som har avidentifierats (pseudonymiserats), men som kan hänföras till en fysisk person med hjälp av andra uppgifter är personuppgifter.

  </p>     
    
    <h3 id="personal_information_foi">
    När du gör en förfrågan om allmän handling
    <a href="#personal_information_foi">#</a>
  </h3>
    
    
  <p>
Om du använder Handlingar.se för att göra en begäran om allmän handling, tillhandahåller du oss med följande information:
  </p>
  <ul>
    <li>Ditt namn</li>
    <li>Din e-postadress</li>
    <li>Din IP-adress</li>
  </ul>
  <p>
   En del av denna information vidarebefordras till den offentliga myndighet som tar emot din begäran och publiceras på webbplatsen. Denna sida förklarar:
  </p>
  <ul>
    <li>vad vi gör med varje typ av information</li>
    <li>vem ser det</li>
    <li>hur den används</li>
    <li>hur länge den behålls</li>
    <li>våra protokoll för att ändra eller ta bort information</li>
    <li>
      vad du ska göra om du är missnöjd med hur vi har hanterat dina uppgifter
    </li>
  </ul>

  <h3 id="personal_information_contact">
   När du skickar e-post till Handlingar.se via vårt kontaktformulär.
    <a href="#personal_information_contact">#</a>
  </h3>
  <p>
    Supportmejl hanteras av Handlingar.se volontäradministratör via en central epost.
  </p>
  <p>
    Som med alla andra e-postmeddelanden resulterar detta i att vi får din e-postadress och, om det anges, ditt namn, tillsammans med innehållet i ditt meddelande.
  </p>

  <h2 id="personal_information_who">
   Dina personuppgifter
    <a href="#personal_information_who">#</a>
  </h2>

  <h3 id="name">
   Ditt namn
    <a href="#name">#</a>
  </h3>

  <p>
 Om du använder Handlingar.se för att göra en begäran om allmän handling, ditt namn (eller pseudonym) är:
  </p>

  <ol type="a">
    <li>skickad till den offentliga organisationen, och</li>
    <li>publiceras på webbplatsen Handlingar.se tillsammans med din begäran.</li>
  </ol>


  <h3 id="email_address">
    Din e-postadress
    <a href="#email_address">#</a>
  </h3>
  <p>
   Din e-postadress delas inte med den offentliga organisationen och publiceras inte heller på webbplatsen. Handlingar.se genererar automatiskt en e-postadress från @handlingar.se som är specifik för varje förfrågan - ditt meddelande kommer att ha den här adressen i "från" -raden och det är också adressen som svaren skickas till.
  </p>
  <p>
När den offentliga organisationen svarar via den här anpassade e-postadressen publiceras deras svar på din begärans sida på Handlingar.se. Samtidigt pingar vårt system dig genom att skicka ett mejl till den personliga e-postadress som du har angett när du skapade ditt konto för att meddela att det finns ett svar: även detta är en automatiserad process.
  </p>
  <p>
  Så din e-postadress hålls till stor del privat. Det finns två undantag till detta. För det första kan webbplatsadministratörer komma åt din e-postadress i adminprocesser och kan använda din e-postadress för att kontakta dig om din användning av webbplatsen. Vi kontaktar också ibland användare som har gjort en särskilt intressant begäran, eftersom vi vill skriva om dessa på Handlingar-bloggen.
  </p>
  <p>
Om du skickar ett meddelande till en annan användare på plattformen, då kommer det att visa din e-postadress till denne. Du kommer att bli informerad att detta kommer hända. Din epost syns annars inte på plattformen.
  </p>
  <p>
Vi kommer inte att avslöja din e-postadress till någon annan om vi inte är skyldiga enligt lag, eller om du ber oss om det.
  </p>
    
  <h4>
   Kommer min e-postadress att användas för andra ändamål?
  </h4>
  <p>
Nej. När du har registrerat dig på Handlingar.se skickar vi bara e-postmeddelanden som rör din begäran, en e-postavisering som du har registrerat dig för eller av andra skäl som du specifikt godkänner. Vi kommer aldrig att ge eller sälja dina e-postadresser till någon annan, såvida vi inte är skyldiga enligt lag, eller om du ber oss om det.
  </p>
  <p>
      I teorin kan skräppost tas emot via funktionen "skicka den här användaren ett e-postmeddelande". Missbruk av denna tjänst är inte vanligt och du kan rapportera alla meddelanden som du anser vara olämpliga till oss via formuläret
    <a href="https://www.handlingar.se/help/contact">kontakta oss</a> 
      Vi kan stänga av användare som har missbrukat den här tjänsten.

  </p>
    


  <h3 id="request">
   Din begäran
    <a href="#request">#</a>
  </h3>
  <p>
  Din begäran skickas till den offentliga organisationen som du begär information från. Samtidigt publiceras den på denna webbplats där vem som helst kan se den.
  </p>

  <h3 id="ip_address">
    Din IP-adress
    <a href="#ip_address">#</a>
  </h3>
  <p>
IP-adressen som är kopplad till din användning av webbplatsen (vilket kanske eller inte är tillräckligt för att identifiera dig, beroende på omständigheterna), registreras automatiskt i våra loggar. Det kommer normalt inte att ses av någon.
  </p>
  <p>
   Vi delar inte IP-adresser med någon annan såvida det inte krävs enligt lag (till exempel i samband med en polisutredning som ett domstolsbeslut har mottagits för).
  </p>

 
  <h4 id="postal_answer">
   Din postadress
    <a href="#postal_answer">#</a>
  </h4>
  <p>
   Om en myndighet bara har en papperskopia av den information som du vill ha, kan de be dig om en postadress. Till att börja med kan du försöka övertala dem att scanna in dokumenten för dig. 
  </p>
  <p>
Om det inte fungerar, och du vill ge din postadress privat för att få handlingarna, markera din begäran som "De kommer att svara med post", och det kommer att ge dig en e-postadress som ska användas för detta ändamål och din postadress syns inte på plattformen.
  </p>

  <h3 id="our_logging">
  Egen loggning
    <a href="#our_logging">#</a>
  </h3>
  <p>
 Förutom den information du ger oss om dig själv för att kunna använda
     webbplatsen (t.ex. ditt namn och din e-postadress), samlar vi in och loggar in
     ytterligare information för att analysera och åtgärda problem med webbplatsen.
  </p>
  <p>

    
    Våra webbserverloggar håller en historik över sidförfrågningar. Detta inkluderar
     information om förfrågningar, inklusive klientens IP-adress, inlämnad data
     (som kan innehålla din e-postadress när du loggar in på webbplatsen),
     begärandedatum och tid, begärd sida, webbläsarversion och <a
     href = "https://en.wikipedia.org/wiki/HTTP_referer"> hänvisare </a>. Rutinmässigt
     behålls denna information i 60 dagar. Observera att under normala omständigheter
     nås datan sällan av en människa, men när vi behöver, bedömer vi det i bulk för att förstå ett problem med webbplatsen,
     snarare än på en detaljerad nivå för enskilda användare.
  </p>

  <h3 id="research">
   Forskning och analyser
    <a href="#research">#</a>
  </h3>
  <p>
  Handlingar.se kan komma att analysera data som förfrågningar och svar från Handlingar.se för forskning. Vi följer strikta interna integritetspolicys som innebär att all personlig information hålls säker. Data som namn och e-postadresser utesluts från datamängderna och redigeras om möjligt från texten.
  </p>




  <h2 id="Names">
    Pseudonym och namn
    <a href="#Names">#</a>
  </h2>

  <a name="public_request"></a>
  <h3 id="public_names">
Varför visas användarnas namn och förfrågningar offentligt på webbplatsen?
    <a href="#public_names">#</a>
  </h3>

  <p>
   Ditt namn är en integrerad del av din begäran, och behöver publiceras tillsammans. Det är rättvist, då vi också kommer att publicera namnet på de tjänstepersoner som skriver svaret på din begäran. Att använda ditt riktiga namn hjälper också människor att komma i kontakt med dig för att hjälpa dig med din forskning eller hjälpa dig i ditt arbete.
  </p>
  <p>
  Men kanske viktigast av allt betyder det att våra användare tänker två gånger innan de gör en begäran: om du vet att ditt namn kommer att vara permanent kopplat till det för alla att se, är det mycket mer sannolikt att du gör en ansvarsfull, giltig och användbar begäran.
  </p>

  <p>
 Dina förfrågningar kommer att grupperas och visas i din profil på webbplatsen.
  </p>

  <h3 id="real_name">
Kan jag göra en begäran om allmän handling om jag använder en pseudonym? 
    <a href="#real_name">#</a>
  </h3>
  <p>
Ja, genom att använda en pseudonym utnyttjar du din fullständiga rätt att begära ut en allmän handling enligt Tryckfrihetsförordningen och Offentlighetsprincipen som du kan läsa om här. 

  </p>
  <p>
I flera fall är det bra överväga att göra en begäran med hjälp av en uppenbar pseudonym. Du bör hänvisa till denna rättighet vid överklagan om en offentlig myndighet vägrar en begäran om du använde en pseudonym.
Men var försiktig, även om myndigheten följer god praxis, kommer en pseudonym förmodligen att göra det omöjligt för dig att överklaga myndighetens beslut senare om hanteringen av din begäran.

  </p>
  <p>
Det finns flera bra alternativ till att använda en pseudonym.
  </p>
  <ul>
    <li>
Använd en annan form av ditt namn. En vägledning berättar att "Mr Arthur Thomas Roberts" kan göra en giltig begäran som "Arthur Roberts", "A. T. Roberts", eller "Mr Roberts", men inte som "Arthur" eller "A.T.R.".
    </li>
    <li>
I de flesta fall kan du använda något namn som du är "allmänt känt och / eller används regelbundet ".
    </li>
    <li>
Använd namnet på en organisation, namnet på ett företag, firma ett företag, eller firmanamn på en enskild näringsidkare.
    </li>
    <li>
Be någon annan att göra begäran för din räkning.
    </li>

    <li>
   Du kan, om du verkligen fastnat, be oss att göra begäran för din räkning. Vänligen kontakta oss med en bra anledning till varför du inte kan göra begäran själv och kan inte be en vän. Vi har sällan resurser att göra detta.
    </li>
  </ul>
  <p>
 Försök inte att medvetet imitera någon annan. Sådant beteende accepteras ej och stängs av.
  </p>
  <p>
Ibland, av olika skäl, inklusive bevisad fara för individen, tar vi bort en användares namn från webbplatsen; när vi gör det gör vi det tydligt; vanligtvis genom att ersätta namnet med “[namn borttaget]”. För mer information, se vårt avsnitt om din rätt till radering.
  </p>

  <h2 id="consequences">
Vilka är de möjliga eller definitiva konsekvenserna av att använda Handlingar.se?
    <a href="#consequences">#</a>
  </h2>
  <h3 id="consequences_making_a_request">
När du gör en begäran om allmän handling
    <a href="#consequences_making_a_request">#</a>
  </h3>
  <p>
Som du har sett från punkterna ovan resulterar användning av Handlingar.se i publiceringen av ditt namn och din begäran på Internet, i de flesta fall permanent. Några möjliga konsekvenser av detta är:
  </p>
  <ul>
    <li>
     Din begäran visas i resultat när någon söker på ditt namn i sökmotorer.
    </li>
    <li>
 Kontakt från andra med intresse för din förfrågan, inklusive press och media.
    </li>
  </ul>
  <h3 id="consequences_registering">
 När du registrerar dig på webbplatsen
    <a href="#consequences_registering">#</a>
  </h3>
  <p>
Genom att skapa ett konto på webbplatsen kan du göra förfrågningar om allmänna handlingar, men det är också ett nödvändigt steg för dem som vill registrera sig för e-post notifikationer ("följa" en specifik begäran, användare eller auktoritet) eller lägga till kommentarer till förfrågningssidor.
  </p>

  <ul>
    <li>
  Vi samlar in ditt namn och din e-postadress; dessa kontrolleras bara om det finns ett problem med ett konto.
    </li>
    <li>
Användare med konton får en offentlig profilsida på webbplatsen: den kan kommas åt av alla som klickar på namnet som finns på alla förfrågningar som du har skickat via webbplatsen eller någon kommentar du har gjort.
    </li>
    <li>
   Din profilsida visar:
      <ul>
        <li>
          Ditt namn
        </li>
        <li>
       Datumet då du gick med på webbplatsen
        </li>
        <li>
         All text du själv ger för att beskriva dig själv
        </li>
        <li>
       En lista över de förfrågningar och kommentarer du har gjort
        </li>
      </ul>
      <p>
      Sidan visar inte din e-postadress, men låter andra komma i kontakt med dig via ett meddelandesystem.
      </p>
      <p>
  Sidan visar inte information om förfrågningar du har prenumererat på, även om dessa är synliga för dig (och endast dig) när du är inloggad.
      </p>
    </li>
  </ul>
  <p>
Dessa uppgifter (ditt namn, e-postadress, notiser) används inte för något annat syfte än att driva webbplatsen och kommer inte att delas externt.
  </p>

  <h2 id="retention_periods">
Lagringsperioder
    <a href="#retention_periods">#</a>
  </h2>

  <h3 id="retention_requests">
Förfrågningar om allmänna handlingar
    <a href="#retention_requests">#</a>
  </h3>
  <p>
Som beskrivs ovan, skickar du en begäran via den här webbplatsen resulterar i att ditt namn och e-postadress lagras tillsammans med din begäran på våra servrar. Din e-postadress är endast tillgänglig för webbplatsadministratörer. För närvarande är policyn att behålla denna information på obestämd tid.
  </p>


  <h3 id="retention_support">
  Support e-post
    <a href="#retention_support">#</a>
  </h3>
  <p>
Vi behåller e-postmeddelanden som skickas till och från den centrala eposten i två år - korrespondens raderas automatiskt och permanent efter den tidpunkten. Alla e-postmeddelanden som behöver sparas av specifika juridiska skäl, såsom pågående polisutredningar eller rättegångar, behålls separat. Felaktig epost av känslig natur, såsom en begäran om hjälp med personliga omständigheter, förvaras under en kortare period på trettio dagar.
  </p>

  <h2 id="legal_basis">
 Rättslig grund för behandling 
    <a href="#legal_basis">#</a>
  </h2>
  <p>
I de flesta fall är vår rättsliga grund för behandling av personlig information "allmänintresse" (detta är som anges i 6 (1) (f) - i GDPR. Vi anser att vi eftersträvar ett allmänt intresse av att behandla personuppgifter för att tillhandahålla vår tjänst till förmån för våra användare och samhällets fördel. Det finns en fördel för våra användare genom att vi erbjuder ett enkelt sätt att göra, spåra och publicera förfrågningar om allmänna handlingar. Tjänsten har också en fördel för allmänheten eftersom all information som släpps som svar på begäran är tillgänglig i ett arkiv för alla att använda. Det finns också en fördel för myndigheter som svarar på förfrågningar genom att den automatiska publiceringen av förfrågningarna minskar dubbla begäranden.

  </p>
  <p>
 Vi anser att vår behandling av användarnas data är som de förväntar sig när de använder vår tjänst. Om du använder Handlingar.se för att göra en begäran om allmän handling samtycker du till att dina uppgifter behandlas enligt beskrivningen på den här sidan. Vi klargör hur vi hanterar användardata och länkar till den här sidan på lämpliga platser inom vår tjänst, inklusive under processen för att registrera dig och göra en begäran.
  </p>
  <p>
  I sällsynta fall gäller den rättsliga grunden för "efterlevnad av en rättslig skyldighet" när vi är lagligt skyldiga att hålla material (<a
    href="https://gdpr-info.eu/art-6-gdpr/">6(1)(c)</a> GDPR).
  </p>
  <p>
I nästan alla fall är vår behandling av personlig information laglig enligt artikel 6 i GDPR men vi kan också förlita oss på undantagen för "speciella ändamål" i dataskyddslagen 2018, särskilt de som gäller akademiska och journalistiska ändamål. Ofta är användningen av vår tjänst akademisk eller journalistisk, och tillhandahållandet av vår tjänst som helhet kan betraktas som en journalistisk strävan.
  </p>

  <h2 id="your_rights">
Dina rättigheter
    <a href="#your_rights">#</a>
  </h2>

  <h3 id="erasure">
Rätt till radering 
    <a href="#erasure">#</a>
  </h3>

  <h4>
Dina egna förfrågningar, kommentarer och användarprofil
  </h4>

  <p>
Handlingar.se tillhandahåller en tjänst genom vilken du enkelt kan göra en begäran om allmän handling. Webbplatsen fungerar också som ett Internet-arkiv med information.
  </p>
  <p>
    <strong>Förfrågningar</strong> Vi publicerar din förfrågan på internet så att människor kan läsa den och använda den information som du har hittat. Även om du kanske inte tycker att svaret på en förfrågan är användbart längre kan det vara av intresse för andra och kan ha använts för att stödja forskning, nyhetsartiklar, lobbyverksamhet eller andra aktiviteter. Av denna anledning raderar vi normalt inte innehållet i förfrågningar och svar.

  </p>
  <p>
    <strong>Namn</strong> Namn Om du har gjort förfrågningar via vår webbplats och funderar på att be oss ta bort ditt namn, vänligen ta en stund att reflektera över det. Vanligtvis begärs information som görs via vår tjänst och blir en positiv del av individens onlineavtryck; ett offentligt register över medborgerlig aktivism är något att vara stolt över.
  </p>
  <p>
Med det sagt, förstår vi att det kan finnas goda skäl till varför du vill att vi ska ta bort ditt namn och vi kommer att göra vårt bästa med att göra det om du ber oss om det. På samma sätt kan vi också ta bort annan personlig information. Observera att om ditt namn har släppts som en del av en myndighets svar, kanske vi inte kan ta bort det enkelt, men vi kommer naturligtvis att överväga formella "rätt att glömmas bort" / "rätt till radering" och ta bort material om vi kan inte motivera att fortsätta att hålla och bearbeta det.
  </p>
  <p>
Om du är orolig för att ditt namn ska kopplas till din begäran och inte har gjort det ännu, se våra råd om hur du använder pseudonymer.
  </p>
  <p>
    <strong>E-postadresser</strong> Vi har också din e-postadress. Om du ber oss att radera  din e-postadress medan du väntar på ett svar, kommer vi inte att kunna meddela dig när ett svar på din begäran kommer in. Av denna anledning rekommenderar vi att du håller en aktiv e-postadress kopplad till ditt konto medan du har pågående korrespondens. Som användare kan du när som helst ändra e-postadressen som är kopplad till ditt konto, eller så kan du kontakta oss och be oss ta bort din e-postadress från ditt konto.
  </p>

  <h4>
Att ta bort personlig information från förfrågningar och svar
  </h4>
  <p>
Om du ser någon personlig information om dig på webbplatsen som du vill att vi ska ta bort eller dölja, vänligen kontakta oss. Ange exakt vilken information du anser vara problematisk och varför och låt oss veta var den visas på webbplatsen.
  </p>
  <p>
    Vi kommer att överväga alla sådana meddelanden och balansera det mot allmänhetens intresse av att publicera materialet. 
   </p>
   <p>
  Om det är känslig personlig information som av misstag har publicerats, tar vi bort den. Normalt kommer vi bara att överväga förfrågningar om att ta bort personlig information som kommer från den berörda individen, men för annan känslig information eller stora volymer personuppgifter skulle vi uppskatta att vem som helst kontaktar oss.
  </p>
  <h4>
Radering av offentliga anställdas personliga information från svaren
  </h4>
  <p>
Vi publicerar automatiskt svar på förfrågningar som görs via webbplatsen i sin helhet. Om dessa svar inkluderar personuppgifter för offentliga anställda anser vi att den rättsliga grunden för vår behandling av denna information är att vi har ett allmänt intresse enligt beskrivningen i artikel 6.1 f GDPR). Vårt allmänna intresse är att dra nytta av samhället genom att bevara och främja transparens och öppenhet, och ansvarsskyldighet för dem som befinner sig i maktpositioner och att upprätthålla ett historiskt offentligt arkiv med begäranden och svar om allmänna handlingar. Vi kommer att överväga begäran av radering om att ta bort namnen på offentliga anställda när det verkar som att intresset, rättigheter och friheter överväger allmänhetens intresse av publicering.
  </p>
  <p>
Detta innebär att:
  </p>
  <ul>
    <li>
   Om du är beslutsfattare, eller om du svarar på en begäran, tar vi normalt inte bort dina uppgifter från dokument och e-postmeddelanden som skickas av en offentligt organisation eller från förfrågningar. Ansvarsskyldighet vid beslutsfattande är kärnan av fungerande styre.
    </li>
    <li>
   Om du har en juniorpost som inte fattar beslut kommer vi att överväga begäranden om att ta bort dina uppgifter. Att ta bort dessa detaljer är tidskrävande för våra volontärer, så vänligen låt oss veta varför detta verkligen betyder något för dig. Om vi inte är skyldiga att agera enligt lag men samtycker till att ta bort dina uppgifter kommer vi att vidta rimliga åtgärder för att göra det - men i vissa fall kanske vi inte kan det eftersom det kan vara svårt att ta bort material från vissa typer av dokument, till exempel bilder och PDF-filer.
    </li>
  </ul>
  <p>
 Vi kan försöka hjälpa tjänstepersoner som vill att vi ska hjälpa dem att ta bort sina signaturer från webbplatsen, men i allmänhet under sådana omständigheter kräver vi att ersättningssvar förbereds och skickas till begäran innan vi tar bort originaldokumenten. Vi kan i allmänhet inte redigera bilagor som har släppts via vår tjänst.
  </p>
  <p>

  <h3 id="right_to_access">
Din rätt till registerutdrag
    <a href="#right_to_access">#</a>
  </h3>
  <p>
Du kan när som helst kontakta oss för att fråga vilka personuppgifter vi har om dig. Om du har använt vår tjänst för att göra en begäran visas den stora majoriteten av informationen vi har om dig offentligt på vår webbplats eller synlig för dig i din användarprofil.
  </p>
  <h3 id="right_to_object">
    
Din rätt för invändning
    <a href="#right_to_object">#</a>  </h3>
    <p>
Dataskyddsförordningen ger dig rätt att invända mot vår behandling av din personliga information och be oss att sluta behandla den. Det ger oss också rätten att fortsätta bearbeta det om vi kan bevisa legitima grunder för behandlingen som åsidosätter dina intressen, rättigheter och friheter. För att utöva din rätt till invändningar måste du <a href="https://www.handlingar.se/sv/help/contact">kontakta oss</a> och ange specifika skäl till varför du invänder mot behandlingen av dina personuppgifter. Dessa skäl bör baseras på din speciella situation.
    </p>

  </h3>
  <h3 id="right_to_complain">
Anmälan till Integritetsskyddsmyndigheten
    <a href="#right_to_complain">#</a>
  </h3>
  <p>
Om du anser att vi bryter mot GDPR har du rätt att kontakta Integritetsskyddsmyndigheten för att göra en anmälan eller ge klagomål. Om du vill utöva dina rättigheter, såsom registerutdrag, eller <a
    href="https://www.handlingar.se/sv/help/contact">kontakta oss</a> med anledning av vår behandling av dina personuppgifter är du välkommen att göra det till oss. DIntegritetsskyddsmyndigheten kan besluta om tillsyn om:

  </p>
  
        <ul>
        <li>
    det är ett återkommande och systematiskt fel
        </li>
        <li>
     det är allvarliga brister
        </li>
        <li>
  det gäller ett enstaka fall eller ett generellt fel
        </li>
        <li>
det gäller något som Integritetsskyddsmyndigheten redan har granskat.
        </li>
      </ul>


</div>
