<% @title = _("Your privacy") %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
<h1 id="privacy"><%= @title %> <a href="#privacy">#</a> </h1>

<dl>

<dt id="email_address">Кой може да вижда моя имейл адрес? <a href="#email_address">#</a> </dt>

<dd><p>Ние няма да разкрием имейл адреса Ви на никого, освен ако
не сме задължени по силата на закон, или Вие не поискате да го
направим. Това включва публичния орган, на който изпращате Заявление.
Те ще получат само специален за това Заявление
@<%= AlaveteliConfiguration::incoming_email_domain %> имейл адрес.</p>
<p>Ако Вие изпратите съобщение към друг потребител на сайта,
той ще узнае имейл адреса Ви. Вие ще бъдете предупреден, че това ще се
случи.</p>
</dd>

<dt id="nasty_spam">Ще изпращате ли брутално досаден
спам към моя имейл адрес? <a href="#nasty_spam">#</a> </dt>
<dd>Никога. След като се регистрирате в Alaveteli България,
ние
ще Ви изпращаме единствено имейли, свързани със заявлението, което сте
направили, съобщение, уведомяващо Ви за регистрацията,
или за други неща, за които конкретно сте ни разрешили. Ние никога не
ще предоставим или продадем имейл адреса Ви на който и да е, освен ако
не сме задължени от закон, или ако Вие не поискате да го направим.
</dd>

<dt id="public_request">Защо моето име и заявлението ми
ще се появят публично на сайта? <a href="#public_request">#</a> </dt>

<dd>
<p>Ние публикуваме Вашето заявление в Интернет, за да може
който и да
е, да го прочете и да използва информацията, която сте получили.
Обикновено, ние не изтриваме заявления (<a href="#delete_requests">още
за това</a>).
</p>
<p>
Името Ви е вписано в Заявлението, така че трябва също да
бъде публикувано. Това е справедливо, тъй като ние ще публикуваме и
името на държавния служител, който пише отговора на Вашето Заявление.
Използването на истинското Ви име, също така, улеснява хората да се
свържат с Вас, за да ви подпомогнат в разследването или в усилията Ви.
</p>
<p>По закон, Вие трябва да използвате истинското си име, за
да бъде Заявлението Ви за Достъп до Информация валидно. Вижте следващия
въпрос за възможностите в случай, че не искате да публикувате
истинското си име.
</p>
</dd>

<dt id="real_name">Мога ли да отправя Заявление за ДдИ
като използвам псевдоним? <a href="#real_name">#</a> </dt>


<dd>
<p>Технически, Вие трябва да използвате истинското си име, за
да бъде Заявлението Ви за Достъп до Информация валидно. Според
чл.25 в Закона за достъп до обществена информация, заявления, в които
липсват трите имена (или наименование и седалище ако е
организация) и адрес за кореспонденция на заявителя, се оставят БЕЗ
разглеждане.
</p>

<p>Във Великобритания няма толкова строги ограничения, както
ще видите от тези напътствия (за UK): <a href="http://www.ico.gov.uk/upload/documents/library/freedom_of_information/detailed_specialist_guides/name_of_applicant_fop083_v1.pdf">guidance
from the Information Commissioner</a> (January 2009) и текста
по-надолу.</p>

<p>В тези напътствия се казва, че добра практика за
публичния орган ще е да отговаря и на заявления, очевидно подписани с
псевдоним. Вие може да посочите това ако публичен орган отхвърли
заявление, понеже сте използвали псевдоним.
</p>

<p>От друга страна, даже и ако органът спазва тази добра
практика, псевдонимът вероятно ще Ви попречи, ако решите да се оплачете
пред по-висшестоящ орган, относно обработката на Заявлението Ви.</p>

<p>Ето няколко добри алтернативи в използването на псевдоним,
като някои от тях са подходящи и за прилагане и в България.
</p>

<ul>
<li>Използване
на различна форма на Вашето име. В напътствията (за UK) се посочва, че
"Димитър Кирилов Петров" може да отправи валидно заявление като
"Димитър Петров", "Д. К. Петров", или "Г-н Петров", но <strong>не</strong>
като "Димитър" или "Д.К.П.".
</li>
<li>Омъжените жени могат да ползват моминското си име.</li>
<li>В повечето случаи Вие можете да използвате името, с
което сте "широко известен и/или използвате обикновено". (за UK)</li>
<li>Да използвате име на организация, името на фирма,
търговското име на фирма, или търговското име на едноличен търговец.</li>
<li>Да поискате някой друг да направи заявлението от Ваше
име.</li>
<li>Вие можете, ако действително нямате други варианти, да
помолите ние да направим заявлението от Ваше име. Молим <a href="/bg/help/contact">свържете се с нас</a>,
като посочите добра причина, поради която не можете да отправите
заявлението от Ваше име и не можете да помолите приятел да го направи.
Ние не разполагаме с ресурсите да правим това за всеки.</li>
</ul>

<p>Молим, не опитвайте да се представите за някой друг.</p>

</dd>

<dt id="full_address">Те поискаха моя пощенски адрес! <a href="#full_address">#</a> </dt>

<dd>
<p>Ако публичният орган поиска пълният Ви, физически адрес,
отговорете им че в член 8.1.b of the FOI Act относно "адрес за
кореспонденция",
се казва, че имейл адреса, който ползвате, е напълно достатъчен.
</p>
<p>
The Ministry of Justice has <a href="http://www.justice.gov.uk/guidance/foi-procedural-what.htm">guidance
on this</a> &ndash;
<em>"As well as hard copy written correspondence, requests that are
transmitted electronically (for example, in emails) are acceptable
... If a request is received by email and no postal address is given, the email
address should be treated as the return address."
</em>
</p>
<p>As if that isn't enough, the Information Commissioner's
<a href="http://www.ico.gov.uk/upload/documents/library/freedom_of_information/practical_application/foi_hints_for_practitioners_handing_foi_and_eir_requests_2008_final.pdf">Hints for Practitioners</a> say
<em>"Any correspondence could include a request for information. If it is written (this includes e-mail), legible, gives the name of the applicant, an address for reply (which could be electronic), and includes a description of the information required, then it will fall within the scope of the legislation."</em>
</p>
</dd>

<dt id="postal_answer">Не, те искат пощенския Ви адрес,
за да изпратят писмен отговор по пощата! <a href="#postal_answer">#</a> </dt>

<dd>
<p>Ако органът разполага само с копие на хартия на
информацията, която искате,
те може да поискат пощенския Ви адрес. Като начало, пробвайте да ги
убедите да Ви сканират документа. Вие може даже да им <a href="http://www.whatdotheyknow.com/request/car_parking_charges_policy_and_a#outgoing-532">предложите
да им подарите</a> скенер, което вероятно ще ги накара да си
спомнят, че вече имат такъв.</p>

<p>Ако това не проработи и Вие решите да им предоставите
пощенския си адрес, за да получите документите, отбележете Заявлението
си с "Те ще отговорят по пощата" и ще получите имейл адрес, на който де
изпратите Вашия пощенски адрес.</p>
</dd>

<dt id="delete_requests">Може ли да изтриете моите
заявления, или да промените името ми?  <a href="#delete_requests">#</a> </dt>

<dd>

<p><%= site_name %> е постоянен, публичен архив на
Заявления за Достъп до Информация. Даже и вече да не намирате отговора
на заявлението Ви за полезно, то може да представлява интерес за други.
Поради това, ние не изтриваме заявления.
</p>

<p>Поради изключителни обстоятелства ние може да премахнем
или променим името Ви в сайта, <a href="#takedown">вижте
следващия въпрос</a>.
Също така, ние може да премахнем и друга лична информация.
</p>

<p>Ако се притеснявате за това преди да сте направили Вашето
Заявление,
вижте секцията <a href="#real_name">псевдоними</a>.</p>

</dd>

<dt id="takedown">Може ли да премахнете лична
информация, отнасяща се до мен? <a href="#takedown">#</a> </dt>

<dd>

<p>Ако видите в сайта каквато и да е лична информация за Вас,
която искате да премахнем или да скрием, молим <a href="/bg/help/contact">уведомете ни</a> за това.
Посочете точно каква информация намирате за проблемна и защо,
и мястото, където тя се появява на сайта.</p>

<p>Ако това е неволно публикувана лична информация, ние
обикновено я премахваме. Обикновено ние разглеждаме искания за
премахване на лична информация, идващи от засегнатия потребител на
сайта, но всеки може да посочи като чувствителна която и да е
информация, видяна на сайта.</p>

<p>Ние считаме, че е налице силен обществен интерес от
запазване на
имената на служители на публични органи. Ние ще премахваме такива имена
само при изключителни обстоятелства, например, когато разкриването на
името и позицията на служител би създало риск за личната му сигурност.
Ако Вие сте такъв служител и бихте искали името Ви да бъде премахнато
поради подобна основателна причина, трябва да ни предоставите заявление
за това от Вашия пряк ръководител. Това заявление трябва да докаже, че
се създава риск, превишаващ обществения интерес и трябва да докаже, че
са положени усилия за скриване на името даже от собствения на
организацията уеб сайт.</p>

<p>За всички останали заявления, ние прилагаме проверката на
публичния
интерес, за да решим дали информацията трябва да бъде премахната.
<a href="http://www.statutelaw.gov.uk/content.aspx?ActiveTextDocId=3190650"> Section 32</a>
от Data Protection Act 1998 ни позволява да го направим, тъй като
материалът, който публикуваме е журналистически. Ние не можем да
редактираме лесно някои типове приложения (като PDF, Microsoft Word или
Excel файлове), поради което ние обикновено молим органите да ни
изпратят отново тези файлове с премахната лична информация.</p>

</dd>


</dl>

<p><strong>Вижте повече</strong> в секцията
за <a href="/bg/help/officers">служители по ДдИ</a> --&gt;

<div id="hash_link_padding"></div>


</div>
