<% @title = "Användarvillkor" %>
<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
  <h1><%= @title %></h1>
  <h2> Hur vi förväntar oss att människor ska använda och bete sig på plattformen </h2>
  <p>
    Brott mot någon av nedanstående regler leder sannolikt till avstängning av
    ditt konto, och du kommer inte längre att kunna göra förfrågningar eller uppdateringar på
    Handlingar.se.
   </p>
   <p>
    I vissa fall kan ett brott mot dessa regler leda till att rättsliga åtgärder vidtas
    mot dig av myndigheterna eller en förolämpad part.
   </p>
   <p>
    Dessutom tar överträdelser ofta betydande mängder volontärtid
    hantera och riskera Handlingars förmåga att driva tjänsten.
   </p>
  <ul>
    <li>
      Använd bara Handlingar.se för att begära information som alla kan förvänta sig att få om de ställde samma fråga. Använd alltså inte Handlingar.se för förfrågningar som kan innehålla känsliga uppgifter antingen om dig själv eller andra.
    </li>
    <li>
      Du kan även fråga efter "Ämne: Registerutdrag" genom användning av personuppgiftslagen. <a href="https://www.imy.se/">Integritetsskyddsmyndighetens hemsida</a> ger råd om hur du får tillgång din egen personliga information.
    </li>
    <li>
      Utge dig inte för att vara någon annan. Använd psedonym i linje med dessa <a href="https://handlingar.se/sv/help/privacy#real_name">rekommendationer.</a>
    </li>
    <li>
      Vi förbehåller oss rätten att ta bort eller stänga av kommentarer på vissa förfrågningar. Även att dölja eller ta bort själva begäran från plattformen om den innebär förtal, hets mot folkgrupp, innehåller eller frågar om känslig information om en privat individ.
    </li>
     <li>
      Inget spam.
    </li>
     <li>
      Inkludera inte ärekränkande/potentiellt ärekränkande kommentarer (t.ex. som anklagelser) i dina förfrågningar och kommentarer.
     </li>
     <li>
     Återpublicera inte material som du vet har tagits bort av moderatorer.
     </li>
     <li>
     Kontakta oss om du ser att någon har inkluderat personlig information, kanske omedvetet, i en begäran så att vi omedelbart kan ta bort det.
     </li>
     <li>
      Vi letar aktivt efter idella krafter för att moderera plattformen. Kontakta oss om du vill hjälpa till eller veta mer.
     </li>
  </ul>

  <p>
    Genom att bryta mot reglerna ovan riskerar du att förbjudas att använda sidan,
    och/eller dina förfrågningar/kommentarer tas bort. I de fall det är tydligt
    att dina avsikter inte är skadliga kommer vi att kontakta dig först så att vi
    kan ge råd om hur man bättre kan använda tjänsten.
  </p>
  
  <%= render partial: 'history' %>

  <div id="hash_link_padding"></div>
</div>


