<% @title = "Missnöjd över en begäran om allmän handling?" %>


<% if !@info_request.nil? %>
<h1>Missnöjd över svaret du fick på din begäran om allmän handling '<%=request_link(@info_request) %>'?
</h1>
<% else %>
<h1>Missnöjd över svaret du fick?</h1>
<% end %>

<p>Guide kommer snart! Innan dess rekommenderar vi denna generella guide till att göra en överklagan som du finner vid
  <a href="http://www.allmanhandling.se/?page_id=5836">AllmanHandling.se</a> eller denna
  om beslut kring sekretess, också vid <a href="http://www.allmanhandling.se/?p=5784">AllmanHandling.se</a>.</p>
