@import '960gs';
@import 'font-roboto';
@import 'modules/navigation';
@import 'modules/search';


body {
color:#444;
font-family:Arial, sans-serif;
text-align:left;
}

img {
  max-width: 100%;
}

.request-left, #header_left {
  width: 220px;
  padding-right: 50px;
  float: left;
}

form input[type=text], form input[type=password] {
  height: 28px;
}
form input.use-datepicker[type=text]#request_date_after {
  height: 28px;
  margin-bottom: 20px !important;
}

form input[type=text]#query {
  background-image: url(requests/magnifier-icon.png);
  background-repeat: no-repeat;
  background-position: 90% 50%;
}

#banner {
  background-repeat:no-repeat;
  background-position:center top;
  background-color:#F0F0F0;
  background:image-url('stripes.png');
}

#topnav {
font-family:'DeliciousRoman', Arial, sans-serif;
}

#topnav li a,#topnav li a:visited {
color:#ADADAD;
}

#topnav li a:hover {
color:#fff;
}

#topnav ul li.selected {
 background:#fff;
}

#topnav ul li a {
color:#6B3C6A !important;
}

#logged_in_bar {
color:#444;
}

#logged_in_bar a,#logged_in_bar a:visited {
color:#92B3FF;
}

h1,h2,h3 {
 font-family:Trebuchet, Trebuchet MS, Helvetica, sans-serif;
 color:#555;
}

h1 {
color:#93278F;
font-size:42px;
font-family:'DeliciousBold', Arial, sans-serif;
}

h2 {
font-size:1.4em;
}


h2,dt {
color:#93278F;
font-family:'DeliciousBold', Arial, sans-serif;
font-weight:400;
}

h3 {
color:#6B3C6A;
font-family:'DeliciousRoman', Arial, sans-serif;
font-weight:400;
}

a {
color:#93278F;
}

p.subtitle {
font-family:'DeliciousRoman';
color:#6B3C7F;
}

.request_listing span.head a,.user_listing span.head a,.body_listing span.head a {
color:#6B3C6A;
font-family:'DeliciousRoman', Arial, sans-serif;
font-weight:400;
}

.request_listing span.desc {
background:image-url('quote-marks.png') no-repeat;
color:#444;
}

.feed_link a,.act_link a,#header_right > a {
  color:#6B3C6A;
}

div.form_button input[name = commit] {
  height: 46px;
  background-image: none;
  background-color: #BABABA;
  border-color:inherit;
  border-width: 0px;
  text-shadow: none;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  padding: 5px 25px;
  border-radius: 5px;
}

#request_form label,label.form_label,span#to_public_body {
  color:#6B3C6A;
}

#request_form label#your-adress {
  display: block;
  width: 100%;
}

div#request_form .form_label {
  display: inline-block;
  width: 46%;
  padding-right: inherit;
}

label.form_label {
  display:inline-block;
  width:100%;
}

#request_form  #outgoing_message_body {
  width: 386px;
  height: 300px;
  border-color: #d1233e;
  margin-top: 10px;
  border-radius: 5px;
  font-family: 'Open Sans';
  font-size: 15px;
}

span#to_public_body {
  font-family:'DeliciousBold', Arial, sans-serif;
  margin-bottom: 25px;
}

span#to_public_body .authority-text, #typeahead_search {
  color: rgb(209, 35, 62);
  font-weight: bold;
  border-width: 2px;
}

span#to_public_body .authority-text[disabled] {
  background-color: #fff;
}

#middle_strip {
color:#93278F;
}

#stepwise_make_request {
background-color:#d0d0d0;
background:image-url('stripes.png');
border:1px solid #DEBEDD;
font-family:'DeliciousRoman', Arial, sans-serif;
color:#6B3C6A;
}

div.comment_in_request {
background:image-url('stripes-70-light2.png');
border-color:#5F5F5F;
border-style:dotted;
border-width:1px;
}

#request_form label,label.form_label {
  font-family:'OpenSansSemibold', Arial, sans-serif;
  font-weight: bold;
  color: #4F4F4F;
  font-size: 16px;
}

#request_new.controller_request {
  border: 1px solid;
  margin-top: 36px;
}

.left-menu {
  display: inline-block;
  vertical-align: top;
  margin-top: 36px;
  width: 20%;
  border: 1px solid;
  padding: 5px;
  font-family: 'Open Sans';
}

.right-make-request {
  display: inline-block;
}

div.form_item_note {
  margin-left: 0px;
}
.page-title {
  font-family: 'Open Sans', sans-serif;
  font-weight:600;
  color: #4F4F4F;
  font-size: 23px;
}

div#request_header {
  background-color: transparent;
}

div#request_header_text {
  margin: 0px;
}

#navigation_search input[type=text] {
 border-color:#BE7DBC;
}


form input[type=submit],a.link_button_green,a.link_button_green_large {
font-family:'DeliciousRoman', Arial, sans-serif;
}

div.frontpage-box {
background:image-url('stripes.png');
border:1px solid #DEBEDD;
font-family:'DeliciousRoman', Arial, sans-serif;
color:#6B3C6A;
}


div.correspondence,div.comment_in_request {
background:image-url('stripes-70.png');
}

div.outgoing.correspondence {
background:image-url('stripes-70-light.png');
}

#frontpage_splash {
background:image-url('flying-computer.png') no-repeat 175px bottom;
}

#frontpage_splash h1 {
font-family:'DeliciousRoman', Arial, sans-serif;
font-size:39px;
color:#6B3C6A;
font-weight:400;
margin:0 0 20px;
}

#frontpage_splash h1 strong {
font-family:'DeliciousHeavyRegular', Arial, sans-serif;
font-size:54px;
color:#93278F;
font-weight:400;
}

#frontpage_splash h1 span {
font-family:Georgia;
font-style:italic;
font-weight:400;
font-size:25px;
color:#6B3C6A;
}

#frontpage_splash h2 {
font-size:26px;
font-weight:400;
color:#6B3C6A;
font-family:'DeliciousRoman', Arial, sans-serif;
}

#frontpage_splash h2 strong {
font-size:31px;
color:#93278F;
font-family:'DeliciousBold', Arial, sans-serif;
}

#frontpage_splash h2 span {
color:#6B3C6A;
font-style:italic;
font-size:19px;
font-family:Georgia;
}


#ui-datepicker-div.ui-widget {
font-family:Arial, sans-serif;
color:#93278F;
}

#ui-datepicker-div .ui-datepicker-header,#ui-datepicker-div .ui-widget-header {
color:#93278F;
font-family:'DeliciousRoman';
}

#ui-datepicker-div .ui-state-default:hover {
background:#DEB4D8;
color:#FFF;
}

#ui-datepicker-div .ui-state-active {
background:#D093C7;
color:#FFF;
}

#other-country-notice {
background:#93278F;
color:#FFF;
}

p.public-body-name-prefix {
color:#DEB4D8;
}

#other-country-notice a {
color:#FFF;
}


#link_box {
position:absolute;
text-align:left;
background-color:#FFF;
z-index:999;
opacity:0.9px;
border-radius:6px;
-moz-border-radius:6px;
border:1px solid #93278F;
display:none;
padding:5px;
}

#link_box .close-button {
background-color:#93278F;
margin-left:15px;
padding:0;
}

div #request_header_text{
  margin-bottom: 20px;
}

div.correspondence p.preview_subject {
font-family:'DeliciousRoman';
color:#6B3C7F;
}

div.correspondence p.preview_subject strong {
color:#6B3C7F;
}

div.controller_help h1 a,#logged_in_bar a,#logged_in_bar a:visited,#stepwise_make_request strong {
color:#93278F;
}


body.front {
background:image-url('home-grad.png') repeat-x 0 160px;
}

.request_listing span.desc {
background:image-url('quote-marks.png') no-repeat;
}

#frontpage_examples .excerpt {
background:image-url('quote-marks.png') no-repeat;
}

.site-header{
  padding: 5px 0 0 0;
  min-height: 82px;
  background: #4f003d;
}

.form-search {
  margin: 15px 0 0 0;
  padding: 10px 0 0 0;
  width: 100%;
  height: 40px;
  background: #fff;

  input[type=text] {
    margin: 0 0 0 7px;
    display: inline-block;
    width: 80%;
    color: #d1233e;
    border: 0;
    font-family: Tahoma;
    font-size: 14px;
  }

  .submit {
    position: relative;
    display: inline-block;
    width: 13px;
    height: 13px;
    text-indent: -9999%;
    border: solid 2px #d1233e;
    border-radius: 20px;
    background: #fff;

    &:before {
      position: absolute;
      right: -6px;
      bottom: -4px;
      content: "";
      display: block;
      width: 10px;
      height: 3px;
      border-radius: 5px;
      background: #d1233e;

      //TODO add mixins
      -webkit-transform: rotate(51deg);
      transform: rotate(51deg);
    }

    &:hover {
      border-color: #2c5e3d;
    }

    &:hover:before {
      background: #2c5e3d;
    }
  }

  input[type=submit] {
    position: absolute;
    left: -2px;
    top: -2px;
    display: block;
    opacity: 0;
    width: 20px;
    height: 20px;
    background: red;
  }
}

.sign-in {
  margin: 16px 0 0 0;
  padding: 16px 8px;
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  background: #fff;
}

.login-stuff {
  margin: 25px 0 0 0;
  padding: 0;
  list-style-type: none;

  > li {
    display: block;
    width: 67px;
    height: 33px;
    float: left;
    border-left: solid 1px #723364;

  }

  .btn-flag {
    position: relative;
    margin: 0 auto;
    display: block;
    width: 24px;
    height: 28px;
    text-indent: -9999px;
    background: image-url("sprite.png") no-repeat 0 0 ;
  }

  .btn-message {
    position: relative;
    margin: 0 auto;
    display: block;
    width: 28px;
    height: 28px;
    text-indent: -9999px;
    background: image-url("sprite.png") no-repeat -34px 0 ;
  }

  .btn-user {
    position: relative;
    z-index: 200;
  }

  .btn-user:before {
    margin: 0 auto;
    display: block;
    width: 28px;
    height: 28px;
    content: "";
    background: image-url("sprite.png") no-repeat -72px 0;
  }

  .btn-user:after {
    position: absolute;
    top: 10px;
    right: -13px;
    content: "▼";
    display: block;
    width: 28px;
    height: 28px;
    color: #723364;
    font-size: 9px;
  }

  .unread-messages {
    position: absolute;
    right: -7px;
    top: -10px;
    padding: 4px;
    display: block;
    color: #fff;
    font-size: 11px;
    background: #4a9d65;
    text-indent: 0;
  }

  .unread-messages-red {
    background: #d1233e;
  }

  .show-drop-menu {
    position: absolute;
    top: 0;
    left: 14px;
    z-index: 5;
    display: block;
    width: 28px;
    height: 24px;
    opacity: 0;
    cursor: pointer;
  }

  .show-drop-menu:checked  + .user-drop-menu {
    display: block;
  }

  .user-drop-menu {
    position: absolute;
    right: 14px;
    top: 45px;
    z-index: 200;
    margin: 0;
    padding: 0;
    display: none;
    width: 175px;
    list-style-type: none;
    border: solid 1px #a8a8a8;
    border-radius: 5px;
    background: #fff;

    li {
      position: relative;
      padding: 10px 18px;
      border-top: solid 1px #d6d6d6;
    }

    li:first-child { border: 0; }
    li:first-child:before {
      position: absolute;
      top: -10px;
      right: 10px;
      content: "▲";
      color: #fff;
    }

    li:after {
      position: absolute;
      top: 10px;
      right: 15px;
      display: inline-block;
      width: 18px;
      height: 19px;
      content: "";
      background: image-url("sprite.png") no-repeat 0 -38px;
    }

    li.icon-dahsboard:after { background-position: -42px -38px; }
    li.icon-settings:after  { background-position: -21px -38px; }
    li.icon-logout:after  { background-position: 0 -38px; }

    li a {
      display: block;
      text-transform: uppercase;
      color: #606060;
      text-decoration: none;
    }

    li a:hover {
      color: #d1233e;
    }
  }
}

.footer {
  padding: 45px 0;
  color: #707070;
  border-top: solid 1px #ccc;
  background: #ededed;

  .footer-banner {
    margin: 0 2% 0 0;
    display: block;
    float: left;
  }

  .footer-credits {
    padding: 30px 0 0 0;
    font-size: 12px;
    border-top: solid 1px #bebebe;
  }

  .footer-rights {
    line-height: 17px;
  }

  .brand-link {
    color: inherit;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}


.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.form_button {
  margin: 0px;
}

.form_item_note, .form_note {
  margin-left: 0px;
}