#request_list .header {
  background-color: green;
  > h1 {
    color: #3d3d3d;
    font-family: 'OpenSansSemibold', sans-serif;
    font-size: 25pt;
    margin: 0;
  }
}

.filter-request-types {
  display: inline-block;
  vertical-align: middle;
  margin-top: 3px;
  line-height: 1.5em;
  width: 100px;
}

.results_section {
  margin-bottom: 40px;
  display: inline-block;

  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;

  width: 75%;
  border: 1px solid #DDD;
  border-radius: 4px;

  h2.foi_results {
    width: inherit;
    color: #3d3d3d;
    font-family: 'OpenSansSemibold', sans-serif;
    font-size: 22pt;
    padding: 16px;
  }

  .request_listing {
    border: 0px;
    border-top: 1px solid #DDD;
  }
}

#list-filter {
  text-align: left;
  hr {
    text-align: left;
    margin-left: 0px;
    color: #ccc;
    background-color: #ccc;
    height: 1px;
    border: 0px;
    margin-bottom: 1em;
  }
}

#header_left {
  width: 25%;
  padding-right: 0px;
  display: inline-block;

  h3.title {
    display: block;
    width: inherit;
    font-size: 9pt;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #3d3d3d;
  }

  input {
    width: 95% !important;
  }

  #list-filter {
    width: 90%;
  }
}

.filter-request-types {
  color: #e7604a;
  padding-left: 5px;

  li {
    list-style-type: none;
    line-height: 200%;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
  }

  a {
    color: #3d3d3d;
    text-decoration: none;
  }
}
