<%= @outgoing_message.body.strip %>

-------------------------------------------------------------------

<%= _('This is an FOI request done via the {{site_name}} website. This footer has been overriden by the sample Alaveteli theme.', :site_name => site_name) %>

<%= render :partial => 'followup_footer' %>

-------------------------------------------------------------------
